
    <!--
<div>
    <h1 [color] = "'yellow'"> This is Yellow</h1>
    <h4 [color] = "'blue'"> This is blue</h4>
    <my-com></my-com>
     </app-if-example>
     <my-image></my-image>
    
    <my-pro></my-pro>
    <app-if-example></app-if-example>
    
    <app-my-service></app-my-service>
    
    <app-for-each></app-for-each>
    <app-pipe-example></app-pipe-example>
    <app-my-reactive></app-my-reactive>
    <app-my-form></app-my-form> <br>
    <app-post-example></app-post-example>
    <app-emplyee-details> </app-emplyee-details>
    <app-products-details></app-products-details>
</div>
-->

<div style="text-align:center" >
    <a routerLink = "Reactive">Reactive Form Module</a>
    <a routerLink = "Template"> Template Form Module</a>
    
    <router-outlet></router-outlet>
     
</div>
<div>
    <app-products></app-products>
</div>

